//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "nullstyle.scss";
//====================================================
//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
/*font-family: 'Playfair Display', serif;*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
//====================================================
//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1110;/*изменить в соответствии с макетом!*/
$md1: 991.98;
$md2: 780;
$md3: 767.98;
$md4: 575.98;
$md5: 479.98;
$md6: 426;
$md7: 375;
//====================================================
//<МИКСИНЫ>
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($fz) {-webkit-order: $fz;-moz-order: $fz;order: $fz;}
//====================================================
//<ОСНОВНАЯ СЕТКА>
body {
	font-family: 'PT Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	// or 21px
	color: #fff;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
.container {
	max-width: $maxw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1200px) {
		max-width: none;
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;
	}
}
.h2--title {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
	&::after {
		content: "";
		display: block;
		width: 120px;
		height: 1px;
		position: relative;
		left: 0;
		right: 0;
		background-color: #fff;
		margin: 0 auto;
		margin-top: 30px;
	}
	@media (max-width: $md3+px) {
		font-size: 30px;
		line-height: 42px;
		margin-bottom: 35px;
		&::after {
			margin-top: 25px;
		}
	}
	@media (max-width: $md7+px) {
		font-size: 26px;
		line-height: 38px;
	}
}
.column-body {
	display: flex;
	justify-content: space-between;
	@media (max-width: 1440px) {
		justify-content: center;
	}
	@media (max-width: $md1+px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
.column {
	margin-right: 50px;
	&:last-child {
		margin-right: 0;
	}
	@media (max-width: $md1+px) {
		margin-right: 0;
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.item-img {
	margin-bottom: 25px;
}
.item__img {
	max-width: 100%;
	background-color: #191B1C;
	padding: 55px 22px;
}
.item-title {
	margin-bottom: 10px;
}
.item__title {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	&:hover,
	&:active {
		text-decoration: underline;
	}
}
.item__price {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: #D0D0D0;
}
.column-img {
	position: relative;
}
.column__img {
	max-width: 100%;
}
.column-title-block {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 100px;
	z-index: 5;
	@media (max-width: $md3+px) {
		bottom: 50px;
	}
	@media (max-width: $md7+px) {
		bottom: 30px;
	}
}
.column-button {
	display: flex;
	justify-content: center;
}
.btn {
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 28px;
	@media (max-width: $md7+px) {
		font-size: 14px;
		line-height: 19px;
	}
}

/*===HEADER===*/
.header {
	background-color: #000;

	&-top {
		display: flex;
		align-items: center;
		padding: 12px 0;

		&_body {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__column {}
		&__call {
			vertical-align: middle;
			margin-right: 10px;
		}
		&__link,
		&__contacts {
			font-size: 12px;
			line-height: 16px;
			text-align: center;
			color: #969696;
		}
		&__link {
			&:hover,
			&:active {
				text-decoration: underline;
			}
		}
		&__login {
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	&-body__wrap {
		background-color: #0F0F0F;
	}
	&-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
	}
	&__logo {
		flex: 1;
		img {}
	}
	&__burger {
		display: none;
	}
	&__list {
		display: flex;
	}
	&__link {
		font-size: 14px;
		line-height: 18px;
		text-transform: uppercase;
		color: #969696;
		padding: 30.6px 20px 31px;
		&:hover,
		&:active {
			background-color: #1F1F1F;
			color: #fff;
		}
	}
	&-links {
		display: flex;
		align-items: center;
		margin-left: 42px;
	}
	&__search {
		margin-left: 44px;
	}
	.form__search {
		width: 20px;
		border: none;
		font-size: 14px;
		color: #fff;
		background-color: transparent;
		background-image: url('../img/header/icons/search.svg');
		background-position: 100% 0; 
		background-repeat: no-repeat;
		padding: 0 20px 0 0;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		cursor: pointer;
	}
	input[type=text]:focus {
		width: 100px;
		border-bottom: 1px solid #fff;
	}
	@media (max-width: $md1+px) {
		&-links,
		&__search {
			margin-left: 30px;
		}
	}
}

/*===MOBILE MENU===*/
@media (max-width: $md3+px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		&-top {
			padding: 6px 0;
			&__call {
				margin-right: 5px;
			}
			&__login {
				margin-right: 0;
			}
		}
		&-body {
			height: 50px;
		}
		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			margin-left: 30px;
			span {
				position: absolute;
				background-color: #fff;
				width: 100%;
				height: 2px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
		}
		&__burger:before,
		&__burger:after {
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0s;
		}
		&__burger:before {
			top: 0;
		}
		&__burger:after {
			bottom: 0;
		}
		&__burger.active span {
			transform: scale(0);
		}
		&__burger.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&__burger.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&__menu {
			position: fixed;
			width: 100%;
			height: 100%;
			left: 0;
			top: -100%;
			overflow: auto;
			background-color: #0F0F0F;
			padding: 140px 0 20px;
			transition: all 0.3s ease 0s;
		}
		&__menu.active {
			top: 0;
		}
		&__list {
			flex-direction: column;
			align-items: center;
			li {
				margin-bottom: 40px;
			}
		}
		&__link {
			font-size: 18px;
			padding: 0;
		}
	}
}
@media (max-width: $md4+px) {
	.header {
		&-top {
			padding: 4px 0;

			&_body {
				flex-direction: column;
				align-items: center;
			}
		}
	}
}
@media (max-width: $md6+px) {
	.header {
		&-links,
		&__search,
		&__burger {
			margin-left: 20px;
		}
	}
}

//===ОСНОВНОЙ БЛОК===//
.content {}

/*===MAIN SECTION===*/
.main {
	background-image: url('../img/main/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0%;
	padding: 160px 0 154px;

	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&-logo {
		width: 320px;
		height: 320px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 4px solid #FFFFFF;
		margin-bottom: 80px;
	}
	&__text {
		max-width: 730px;
		font-size: 16px;
		line-height: 150%;
		// or 24px 
		text-align: center;
		text-transform: uppercase;
	}

	@media (max-width: $md3+px) {
		padding: 120px 0 100px;

		&-logo {
			margin-bottom: 60px;
		}
		&__logo {
			padding: 90px 64px;
		}
		&__text {
			max-width: none;
		}
	}
	@media (max-width: $md5+px) {
		padding: 100px 0 80px;

		&-logo {
			width: 250px;
			height: 250px;
			margin-bottom: 40px;
		}
		&__logo {
			max-width: 120%;
		}
		
	}
	@media (max-width: $md7+px) {
		&-logo {
			width: 200px;
			height: 200px;
		}
		&__logo {
			max-width: 130%;
		}
	}
}

/*===NEWCOLLECTION SECTION===*/
.newcollection {
	background-color: #000;

	&-body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-column__items {
		padding: 0 80px;
	}
	@media (max-width: 1440px) {
		padding: 93px 0 0;

		&-body {
			flex-wrap: wrap;
			justify-content: center;
		}
		&-column__items {
			flex: 1 1 100%;
			padding: 0 30px;
			margin-bottom: 70px;
		}
		&-column__img {
			flex: 1 1 100%;
			display: flex;
			justify-content: center;
		}
	}
	@media (max-width: $md3+px) {
		padding: 70px 0 0;
	}
	@media (max-width: $md6+px) {
		&-column__items {
			padding: 0 20px;
		}
	}
	@media (max-width: $md7+px) {
		padding: 60px 0 0;

		&-column__items {
			margin-bottom: 60px;
		}
		&__title {
			padding: 0 20px;
		}
	}
}

/*===OLD COLLECTION SECTION===*/
.oldcollection {
	background-color: #000;

	&-body {
		display: flex;
		align-items: center;
	}
	&-column__img {
		flex: 1;
	}
	&__img {
		max-width: 100%;
	}
	&-column__txt {
		flex: 1;
		display: flex;
		justify-content: center;
	}
	&-item {
		max-width: 471px;
	}
	&__text {
		text-align: center;
		margin-bottom: 61px;
	}
	@media (max-width: 1440px) {
		padding: 93px 0 0;

		&-body {
			flex-wrap: wrap;
			justify-content: center;
		}
		&-column__img {
			flex: 1 1 100%;
			@include flexorder(2);
			display: flex;
			justify-content: center;

		}
		&-column__txt {
			flex: 1 1 100%;
			@include flexorder(1);
			margin-bottom: 70px;
		}
		&-item {
			max-width: 690px;
		}
	}
	@media (max-width: $md3+px) {
		padding: 70px 0 0;

		&-item {
			max-width: none;
			padding: 0 30px;
		}
		&__text {
			margin-bottom: 40px;
		}
	}
	@media (max-width: $md6+px) {
		&-item {
			padding: 0 20px;
		}
	}
	@media (max-width: $md7+px) {
		padding: 60px 0 0;

		&-column__txt {
			margin-bottom: 60px;
		}
	}
}

/*===NEW ARRIVALS SECTION===*/
.newarrivals {
	background-color: #000;
	padding: 120px 0 100px;

	&-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 40px;
		margin: 0 -11.5px;
	}
	&__column {
		flex: 0 1 260px;
		margin: 0 11.5px;
		margin-bottom: 50px;
	}

	@media (max-width: $md3+px) {
		padding: 70px 0 20px;

		&-body {
			padding-top: 10px;
		}
	}
	@media (max-width: $md7+px) {
		padding: 60px 0 10px;
	}
}

/*===BRANDS SECTION===*/
.brands {
	background-color: #0F0F0F;
	padding: 60px 0 74px;

	&-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
	}
	&__column {
		margin: 0 15px;
	}
	&__img {
		max-width: 100%;
	}
	@media (max-width: $md3+px) {
		padding: 60px 0;
	}
}

/*===FOOTER===*/
.footer {
	background-color: #0F0F0F;

	&-top {
		background-image: url('../img/footer/bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0%;
		padding: 80px 0 99px;

		&__body {
			display: flex;
			justify-content: space-between;
		}
		&__column {
			flex: 0 1 350px;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-column__title {
		font-family: 'Playfair Display', serif;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 32px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	&-column__list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -20px;
		li {
			margin-right: 20px;
			margin-bottom: 20px;
		}
	}
	&-column__subtitle {
		margin-bottom: 37px;
	}
	&__btn {
		display: block;
		height: 41px;
		color: #D0D0D0;
		background-color: #0F0F0F;
		padding: 10px 20px;
		&:hover,
		&:active {
			color: #fff;
			background-color: #1F1F1F;
		}
	}
	.form__body {
		display: flex;
		align-items: center;
	}
	.input-line {}
	.input__line {
		width: 210px;
		height: 41px;
		color: #fff;
		background-color: rgba(255, 255, 255, .4);
		padding: 0 10px 0 15px;
		border: none;
	}
	input::placeholder {color: #969696;}
	input::-moz-placeholder {color: #969696;}
	input:-moz-placeholder {color: #969696;}
	input::-webkit-input-placeholder {color: #969696;}
	input:-ms-input-placeholder {color: #969696;}
	.submit-button {}
	.submit__btn {
		border: none;
		cursor: pointer;
	}
	&-bottom {
		&__body {
			height: 50px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__text {
			font-size: 12px;
			line-height: 16px;
			color: #D0D0D0;
		}
		&__link {
			font-weight: bold;
			font-size: 12px;
			line-height: 16px;
			text-decoration-line: underline;
			color: #D0D0D0;
		}
	}
	@media (max-width: $md1+px) {
		&-top {
			padding: 80px 0 49px;

			&__body {
				flex-wrap: wrap;
			}
			&__column {
				flex: 1 1 100%;
				margin-bottom: 40px;
			}
		}
		&-column__title {
			margin-bottom: 30px;
		}
	}
	@media (max-width: $md3+px) {
		&-top {
			padding: 70px 0 30px;
		}
	}
	@media (max-width: $md6+px) {
		&-top {
			&__column {
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
		.form__body {
			flex-direction: column;
		}
		.input-line {
			width: 100%;
			margin-bottom: 10px;
		}
		.input__line,
		.submit-button,
		.submit__btn {
			width: 100%;
		}
	}
	@media (max-width: $md7+px) {
		&-top {
			padding: 60px 0 20px;
		}
		&-column__title {
			margin-bottom: 20px;
		}
		&-bottom__body {
			flex-direction: column;
			justify-content: center;
		}
	}
}

/*===MODAL LOGIN===*/
.modal {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);

    &__body {
		max-width: 400px;
		max-height: 80vh;
        overflow-y: auto;
		margin: 50px auto 0;
		background-color: #fff;
	}
	&__form {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 60px 40px 40px;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 50px;
		color: #fff;
		cursor: pointer;
	}
	&__headers {
		display: flex;
		max-width: 100%;
		background: rgba(31, 31, 31, .2);
	}
	&__title {
		flex: 1;
		font-weight: 500;
		font-size: 22px;
		line-height: 30px;
		padding: 15px 0;
		text-align: center;
		color: #fff;
		cursor: pointer;
		
	}
	&__title--active {
			color: #0F0F0F;
			background-color: #fff;
		}
	.input {
		width: 100%;
		margin-bottom: 20px;
	}
	&__input {
		display: block;
		width: 100%;
		border: 1px solid rgba(89, 94, 100, .5);
		padding: 10px;
		margin-bottom: 15px;
	}
	&__btn {
		width: 100%;
		background-color: #0F0F0F;
		margin-bottom: 20px;
	}
	&__link {
		text-align: center;
		a {
			text-align: center;
			color: rgba(31, 31, 31, .7);
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	@media (max-width: $md3+px) {
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;

		&__form {
			padding: 60px 20px 20px;
		}
		&__title {
			font-size: 18px;
			line-height: 28px;
			padding: 10px 0;
		}
	}
}

/*===MODAL EMAIL===*/
.modal-email {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .6);

	&__body {
		position: relative;
		max-width: 400px;
		max-height: 50vh;
        overflow-y: auto;
		margin: 50px auto 0;
		background-color: #fff;
		padding: 50px 40px 40px;
	}
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 45px;
		color: #0F0F0F;
		cursor: pointer;
	}
	&__title {
		font-family: 'Playfair Display', serif;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #0F0F0F;
		margin-bottom: 10px;
	}
	&__text {
		color: #0F0F0F;
		text-align: center;
	}
	@media (max-width: $md3+px) {
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;

		&__body {
			padding: 40px 20px 20px;
		}
	}
}